

#pages{
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 220px;
  list-style: none;
  box-sizing: border-box;
}
#pages li a{
  font-size: 12px;
  border: 1px solid #ddd;
  padding: 5px 10px;
  color: black;
  height: 30px;
}
#pages .disabled{
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}