/*轮播区域*/
#banner{
  width: 100%;
  position: relative;
}
#banner h1{
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -10px;
  color: white;
  background: none;
  z-index: 10;
}
#banner .swiper-container{
  width: 100%;
  background: #00AE83;
}
#banner .swiper-container  .swiper-slide{
  display: flex;
  justify-content: space-around;
}
#banner .swiper-container  .swiper-slide div{
  width: 14%;
  text-align: center;
  background: #CCEFE6;
  margin: 80px 0;
  padding: 15px 0;
}
#banner .swiper-container  .swiper-slide div img{
  width: 80%;
  margin: 10px 0;
}

/* 导航栏 */
#c-nav{
  margin-top: 50px; 
}
#c-nav li{
  padding: 13px 0;
  border-bottom: 1px dashed rgba(2,2,2,0.3);
}
#c-nav li a:nth-child(2){
  color: white;
  background: #00AE82;
}
#c-nav li a{
  padding: 2px 10px;
}
#c-nav>ul>li .active{
  color: white;
  background: #00AE82;
}


/* 公司内容 */
#company-con {
  margin-top: 50px;
  
}
#company-con  .hot-co{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#company-con  .hot-co li{
  width: 30%;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 10px;
  transition: all 0.6s;
}
#company-con  .hot-co li:hover{
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
#company-con  .hot-co li .cimg{
  padding-top: 20px;
  width: 80px;
}
#company-con  .hot-co li .cimg img{
  width: 100%;
}
#company-con .hot-co li .cname{
  display: block;
  font-size: 18px;
  padding: 5px 0;
}
#company-con .hot-co li .cintro{
  font-size: 14px;
  color: #909090;
  padding: 5px 0;
}
#company-con .hot-co li .con{
  font-size: 14px;
  padding: 5px 0;
  padding-bottom: 20px;
}
#company-con .hot-co li .cnote{
  border-top: 1px dashed rgba(0,0,0,0.2);
  padding: 15px 0;
}
#company-con .hot-co li .cnote a{
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0,0.2);
}
#company-con .hot-co li .cnote a p:first-child{
  color: #00AE82;
}
