/* 搜索框 */
body>div.search{
  width:  938px;
  margin-bottom:60px; 
}
body>div.search>div:first-child input{
  width: 795px;
  float: left;
  height: 46px;
}
body>div.search>div:first-child button{
  width: 130px;
  float: left;
  height: 46px;
}
body>div.search .hot-SH span,body>div.search .hot-SH a{
  padding-right: 20px;
}
div.search .hot-SH a{
  color: green;
}

/* 导航 */
body>nav.nav{
  margin: 0px auto;
}
body>nav.nav .nav-l{
  width: 321px;
  float: left;
  position: relative;
}
body>nav.nav .nav-l span{
  padding: 0 5px 0 15px;
  font-size: 18px;
}
body>nav.nav .nav-l a{
  padding: 0px 10px;
}
body>nav.nav .nav-l>ul>li{
  position: relative;
  height: 55px;
  line-height: 55px;
  z-index: 10;
}
body>nav.nav .nav-l li ul{
  position: absolute;
  left: 321px;
  top: 0px;
  display: none;
  z-index: 5;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: white;
  transition: all 0.5s;
}
body>nav.nav .nav-l>ul>li:hover{
  border: 1px solid rgba(0,0,0,0.2);
  border-right: 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
body>nav.nav .nav-l>ul>li:hover ul{
  display: block;
  border: 1px solid rgba(0,0,0,0.2);
  width: 600px;
  padding-left: 30px;
}
body>nav.nav .nav-l>ul>li:hover ul li{
  line-height: 40px;
}
body>nav.nav div:last-child{
  margin: 30px 0 0 5px;;
  float: left;
  width: 840px;
}
body>nav.nav div:last-child img{
  width: 100%;
} 
body>nav.nav::after{
  content: '';
  display: block;
  clear: both;
}

/*job con */
main.main{
  margin-top: 50px;
  position: relative;
  height: 750px;
}
main.main #hot-job,main.main #fresh-job{
  position: absolute;
  left: 0px;
  top: 57px;
}
#hot-job ul,#fresh-job ul{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#fresh-job{
  display: none;
}
main>div.choose-job a{
  font-size: 20px;
  padding: 15px 20px;

}
main>div.choose-job .active{
  border-bottom: 1px solid rgba(0,0,0,0.2); 
  box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}
#hot-job ul li,#fresh-job ul li{
  width: 30%;
  border: 1px solid rgba(0,0,0,0.1); 
  box-shadow: 0 0 10px rgba(0,0,0,0.2); 
  margin-bottom: 20px;
  transition: all 0.5
  s;
}
#hot-job ul li:hover{
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
#fresh-job ul li:hover{
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
#hot-job ul li .con,#fresh-job ul li .con{
  margin-left: 10px;
  width: 100%;
  padding: 5px 0;
}
#hot-job ul li .con .jname,#fresh-job ul li .con .jname{
  font-size: 16px;
}
#hot-job ul li .con .jtime,#fresh-job ul li .con .jtime{
  padding: 0 20% 0 5%;
  color: #909090;
  font-size: 14px;
}
#hot-job ul li .con .jsalary,#fresh-job ul li .con .jsalary{
  color: red;
}
#hot-job ul li .jneed,#fresh-job ul li .jneed{
  margin-left: 10px;
  color: #909090;
  font-size: 14px;
}
#hot-job ul li .intro,#fresh-job ul li .intro{
  margin-left: 10px;
  color: #909090;
  font-size: 14px;
}
#hot-job ul li p:nth-child(3),#fresh-job ul li p:nth-child(3){
  border-bottom: 1px dashed rgba(0,0,0,0.2);
  padding-bottom: 20px;
}
#hot-job ul li div.company,#fresh-job ul li div.company{
  margin-left: 10px;
}
#hot-job ul li div.company .clogo,#hot-job ul li div.company div,#fresh-job ul li div.company .clogo,#fresh-job ul li div.company div{
  display: block;
  float: left;
  margin: 5px 10px
}
#hot-job ul li div.company .clogo img,#fresh-job ul li div.company .clogo img{
  width: 40px;
  height: 40px;
}
#hot-job ul li div.company div p.cintro,#fresh-job ul li div.company div p.cintro{
  padding-top:5px; 
  color: #909090;
  font-size: 12px;
}
#hot-job #job-btn,#fresh-job #fresh-btn{
  width: 400px;
  height: 50px;
  border: 1px solid #00AE82;
  background: white;
  transition: all 0.4s;
}
#hot-job>div,#fresh-job>div{
  margin-top: 20px;
  text-align: center;
}
#hot-job #job-btn:hover{
  background: linear-gradient(to right, #00AE82,rgb(4, 250, 188));
  box-shadow: 0 0 20px #00AE82;
}
#fresh-job #fresh-btn:hover{
  background: linear-gradient(to right, #00AE82,rgb(4, 250, 188));
  box-shadow: 0 0 20px #00AE82;
}


/* choose company */
div.about-co{
  position: relative;
}
div.about-co>div.choose-co{
  margin-bottom: 10px;
}
div.about-co>div.choose-co a{
  font-size: 20px;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.2); 
  box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}
div.about-co #hot-co{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
div.about-co #hot-co li{
  width: 30%;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 10px;
  transition: all 0.6s;
}
div.about-co #hot-co li:hover{
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
div.about-co #hot-co li .cimg{
  padding-top: 20px;
  width: 80px;
}
div.about-co #hot-co li .cimg img{
  width: 100%;
}
div.about-co #hot-co li .cname{
  display: block;
  font-size: 18px;
  padding: 5px 0;
}
div.about-co #hot-co li .cintro{
  font-size: 14px;
  color: #909090;
  padding: 5px 0;
}
div.about-co #hot-co li .con{
  font-size: 14px;
  padding: 5px 0;
  padding-bottom: 20px;
}
div.about-co #hot-co li .cnote{
  border-top: 1px dashed rgba(0,0,0,0.2);
  padding: 15px 0;
}
div.about-co #hot-co li .cnote a{
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0,0.2);
}
div.about-co #hot-co li .cnote a p:first-child{
  color: #00AE82;
}
#co-btn{
  width: 400px;
  height: 50px;
  border: 1px solid #00AE82;
  background: white;
  transition: all 0.4s;
}
.about-co>div:last-child>div{
  margin-top: 20px;
  text-align: center;
}
#co-btn:hover{
  background: linear-gradient(to right, #00AE82,rgb(4, 250, 188));
  box-shadow: 0 0 20px #00AE82;
}